# Firebase Configuration
# Firebase Console se ye values copy karke .env file mein paste karein

VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=your_auth_domain_here
VITE_FIREBASE_PROJECT_ID=your_project_id_here
VITE_FIREBASE_STORAGE_BUCKET=your_storage_bucket_here
VITE_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id_here
VITE_FIREBASE_APP_ID=your_app_id_here

# EmailJS Configuration
# EmailJS Dashboard se ye values copy karein: https://dashboard.emailjs.com/

VITE_EMAILJS_SERVICE_ID=service_pscybercore
VITE_EMAILJS_TEMPLATE_ID=template_sno8v3v
VITE_EMAILJS_PUBLIC_KEY=9zJOWYGIDhbrel43z
# Optional: Customer confirmation template
VITE_EMAILJS_CUSTOMER_TEMPLATE_ID=your_customer_template_id_here
